.program-detail {
  background: #fff5f5;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #ffcccc;
  box-shadow: 0 3px 10px rgba(255, 0, 0, 0.15);
}

.program-detail h2 {
  color: #c70000;
  font-weight: bold;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #b30000;
}

select, input{
  width: 100%;
  padding: 8px;
  margin: 5px 0 15px 0;
  border-radius: 6px;
  border: 1px solid #ffb3b3;
  background: #fff;
}

select:focus, input:focus {
  border-color: #ff4d4d;
  outline: none;
}

.warning-text {
  color: red !important;
  font-size: 13px;
  margin-top: 10px;
}

button {
  background-color: #d90000;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #b80000;
}

.btn-cancel {
color: white;
text-decoration: none;
font-weight: bold;
background-color: #4b5563;
padding: 10px 18px;
border-radius: 6px;
border: none;
display: inline-block;
}

.btn-cancel:hover {
background-color: #374151;
text-decoration: none;
}
